{% extends 'base.html' %}

{% block content %}
<h1>Сайты</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Последняя проверка</th>
        <th>Код ответа</th>
      </tr>
    </thead>
    <tbody>
      {% for url in urls_data %}
      <tr>
        <td>{{ url[0] }}</td>
        <td><a href="/urls/{{ url[0] }}">{{ url[1] }}</a></td>
        <td>
          {% if url[2] is not none %}
            {{ url[2].strftime('%Y-%m-%d') }}
          {% endif %}
        </td>
        <td>
          {% if url[3] is not none %}
            {{ url[3] }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}